<html lang = "en">
   <head>
      <link rel = "stylesheet"
         href = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
      <script src = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
      <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <style>
         .box {         
            color:white;
            padding:10px;
            text-align:center;
            border-style: inset;
         }
         
         .green {
            background:gray;
         }
         
         .blue {
            background:lightblue;
         }
		 #item1:hover, #item2:hover{
			background:white;
			color:gray;
		 }
		 #contentRegion{
			background:white;
			color:white;
            padding:10px;
            text-align:center;
            border-style: inset;
		 }
		 .bttn {
			height: 30px;
			width: 120px;
			background: white;
			color: gray;
		 }
		 .bttn:hover{
			background:#444242;
			color:white;
		 }

      </style>
      
      <script language = "javascript">
         angular
            .module('firstApplication', ['ngMaterial'])
            .controller('layoutController', layoutController);

         function layoutController ($scope) {  
			$scope.listClicked = function(param){
				if (param==="create"){
					document.getElementById('createDiv').style.display = "block";
					document.getElementById('showDiv').style.display = "none";
				}
				else if (param==="show"){
					document.getElementById('showDiv').style.display = "block";
					document.getElementById('createDiv').style.display = "none";
				}
			}
			$scope.validation = function(){
				alert("active!");
			}
         }	  
      </script>      
   </head>
   
   <body ng-app = "firstApplication" > 
      <div id = "layoutContainer" ng-controller = "layoutController as ctrl"
          ng-cloak layout="column" style="height:1000px">
         <div layout = "row" layout-xs = "column">
            <div flex class = "green box">Student Crud App</div>
         </div>
         <div layout = "row" layout-xs = "column" flex>
            <div flex="20" class = "green box">
				<md-list>
					<md-list-item id="item1" ng-click="listClicked('create')" >
							<p>Create</p>
					</md-list-item>
					<md-list-item id="item2" ng-click="listClicked('show')" >
							<p>Show</p>
					</md-list-item>
				</md-list>
			</div>
            <div flex id = "contentRegion" >
				<div id="createDiv" style="background:gray;margin-top:100px;height:760px;width:600px;margin-left:400px;display:none">
					<p style="font-size:200%;padding-top:50px;color: white;text-align:center">Registration Form</p>
					<form name="stdInfo" style="padding-top:20px">
						<md-input-container>
							<input placeholder="Name" style="width: 360px; height: 60px; background:white" type="text" ng-model="name" name="name" required>
   								<div ng-show = "stdInfo.name.$touched && stdInfo.name.$invalid" style="color:red" >
									<div ng-show = "stdInfo.name.$error.required" >Name is required!</div>
								</div>
						</md-input-container>
						<md-input-container>
							<input placeholder="Roll" style="width: 360px; height: 60px; background:white" type="text" ng-model="roll" name="roll" ng-pattern="/^[0-9]+$/" required>
							<div ng-show = "stdInfo.roll.$touched || (stdInfo.roll.$dirty && stdInfo.roll.$invalid)" style="color:red" >
								<div ng-show = "stdInfo.roll.$error.required" >Roll is required!</div>
								<div ng-show = "stdInfo.roll.$error.pattern" >Only int is allowed!</div>
							</div>
						</md-input-container>
						<md-input-container>
							<input placeholder="CGPA" style="width: 360px; height: 60px; background:white" type="text" ng-model="cgpa" name='cgpa' ng-pattern="/^[0-9]+[.]+[0-9]+$/" required>
   							<div ng-show = "stdInfo.cgpa.$touched || (stdInfo.cgpa.$dirty && stdInfo.cgpa.$invalid)" style="color:red" >
								<div ng-show = "stdInfo.cgpa.$error.required" >CGPA is required!</div>
								<div ng-show = "stdInfo.cgpa.$error.pattern" >Only float is allowed!</div>
							</div>
						</md-input-container>
						<md-input-container>
							<input placeholder="Batch" style="width: 360px; height: 60px; background:white" type="text" ng-model="year" name="year" ng-pattern="/^[0-9]+$/" required>
							<div ng-show = "stdInfo.year.$touched || (stdInfo.year.$dirty && stdInfo.year.$invalid)" style="color:red" >
								<div ng-show = "stdInfo.year.$error.required" >Year is required!</div>
								<div ng-show = "stdInfo.year.$error.pattern" >Only int is allowed!</div>
							</div>
						</md-input-container>
						<md-input-container>
							<input placeholder="DOB" style="width: 360px; height: 60px; background: white" type="date" ng-model="dob" name="dob" required>
							<div ng-show = "stdInfo.dob.$touched && stdInfo.dob.$invalid" style="color:red" >
								<div ng-show = "stdInfo.dob.$error.required" >DOB is required!</div>
							</div>
						</md-input-container><br>
						<button style="width: 200px; height: 40px;margin-top:30px;" class="bttn" ng-click="validation()" 
						ng-disabled="stdInfo.name.$invalid || stdInfo.roll.$invalid || stdInfo.cgpa.$invalid || stdInfo.year.$invalid || stdInfo.dob.$invalid">Save</button>
					</form>
				</div>
				<div  id="showDiv" style="background:gray;margin-top:100px;height:700px;width:600px;margin-left:400px;display:none">
					<p style="font-size:200%;padding-top:50px;color: white;text-align:center">Registered Students</p>
					
				</div>
			</div>
         </div>
      </div>
   </body>
</html>